---
import { Markdown } from "astro/components";
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";
import Footer from "../components/Footer.astro";

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } =
  content;
---

<html class="theme-dark" lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <!-- <div> -->
    <BlogHeader />
    <BlogPost {title} {author} {heroImage} {publishDate} {alt}>
      <slot />
    </BlogPost>
    <Footer />
  <!-- </div> -->
  </body>
</html>
