---
import { Markdown } from "astro/components";
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";
import Footer from "../components/Footer.astro";

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;

---

<html class="theme-dark" lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <!-- <div> -->
    <BlogHeader />
    <BlogPost {title} {author} {heroImage} {publishDate} {alt}>
      <slot />
    </BlogPost>
    <Footer />
  <!-- </div> -->

  </body>


  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src='../scripts/payment.js'></script>
  <script>
    Element.prototype.remove = function() {
        this.parentElement.removeChild(this);
    }
    const button = document.getElementById('unlock-cartl');
    const confirmButton = document.getElementsByClassName('unlock-screen-button');
    console.log(confirmButton)
    button.addEventListener('click',()=>{
      button.remove();
    })
    console.log({button});
  </script>
</html>
